.image-preview img {
    border: 30px solid;
    border-color: skyblue lightpink lightgreen #ffefd5;
}

p > span { color: red; }
#header span { color: pink; }
span { color: green; }
#header *:last-child { color: orange; }
#header span:first-child:hover { color: blue; }

table {
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #333;
    padding: 8px 16px;
}